.descriptionBlock {
    padding: 10px;
}
.imgWrapper img {
    width: 1250px; /* Заполнить всю доступную ширину контейнера */
    height: 500px; /* Заполнить всю доступную высоту контейнера */
    object-fit: cover;  /*Обрезать изображение, сохраняя пропорции */
}