.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}
.messageTextarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 20px;

}
.messageButton {

}

